<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Plant-It: Your Green Thumb Community</title>
    <style>
        .card {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
        .card-title {
            background-color: #006400;
            color: #fff;
            padding: 15px;
        }
        #wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 0;
            justify-content: center;
            align-items: center;
        }
        .container {
            margin-left: 12%;
        }
    </style>
</head>
<body>
    <section id="wrapper">
    <div class="container mt-4 mb-4">
        <div class="card">
            <h3 class="card-title">Plant-It: Your Green Thumb Community</h3>
            <div class="card-body">
                <p>Welcome to Plant-It, the thriving online hub for all things green and leafy! Whether you're a seasoned botanist or just starting your journey into the world of plants, Plant-It is your go-to destination for plant-related questions and discoveries.</p>
                <p>Our platform is designed to foster a vibrant community of plant enthusiasts who can connect, learn, and share their botanical knowledge. Have a burning question about that mysterious vine in your backyard or the strange succulent on your windowsill? Plant-It's forum is the place to ask, and our passionate community is here to help.</p>
                <p>But that's not all! We've integrated cutting-edge technology into Plant-It by harnessing the power of the Plant ID API. Now, when you stumble upon an unfamiliar plant during your nature walks or in your neighbor's garden, simply snap a photo and let our AI-powered Plant ID tool work its magic. It will identify the plant for you, so you can return to Plant-It armed with knowledge and ready to seek advice from our community members.</p>
                <p>Join Plant-It today and let's cultivate a greener, more informed world together!</p>
            </div>
        </div>
    </div>
    </section>
</body>
</html>
