<h2>Create Account</h2>

<form class="form create-form">
  <div class="form-group">
    <label for="email-create">Email:</label>
    <input class="form-input" type="text" id="email-create" />
  </div>
  <div class="form-group">
    <label for="name-create">Username:</label>
    <input class="form-input" type="text" id="name-create" />
  </div>
  <div class="form-group">
    <label for="password-create">Password:</label>
    <input class="form-input" type="password" id="password-create" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Account</button>
  </div>
</form>

<script src="/js/createAccount.js"></script>
