<!DOCTYPE html>
<html>
<head>
    <title>My Dashboard</title>
    <link rel="stylesheet" href="../public/css/pages">
        <style>
        #wrapper {
            background-color: rgb(195, 237, 195);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            margin: 0;
            flex-direction: column;
        }
        .card {
            width: 80%;
            background-color: white;
            border-color: black;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            flex-direction: column;
            justify-content: center;
            align-items: space-around;
        }
        .username {
            background-color: darkgreen;
            color: white;
            font-weight: bold;
            padding: 5px;
            border-radius: 5px 5px 0 0;
        }
        .title {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section id="wrapper">
    <section id="dashboard">
        <h1>My Dashboard</h1>
        <div class="card">
            {{#each posts as |post|}}
                <div>
                    <div class="title">
                    <h2>{{post.title}}</h2>
                    </div>
                    <p>{{post.content}}</p>
                    <p>Posted by: {{post.User.name}}</p>
                    <form action="/post/{{post.id}}" method="post">
                        <button type="submit">Delete Post</button>
                    </form>
                </div>
            {{/each}}
        </div>
    </section>
    </section>
</body>
</html>
